{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/main-logo.png' %}" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lead' %}">Contáctanos</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'busqueda' %}">
                <input class="form-control mr-sm-2" type="search" name="keywords" placeholder="Buscar número OEM"
                    aria-label="Search" value="{{ request.GET.keywords }}">
            </form>
        </div>
    </div>
</nav>