{% extends 'base.html' %}

{% load static %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Main cover -->
<section id="main-cover">
    <div class="container">
        <div class="home-search p-5">

            <div class="overlay p-5">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="">
                            La solución a tus
                            problemas de enfriamiento
                        </h1>
                        <p class="lead">
                            Incomparables, reparables en el sitio de trabajo, cumple requerimientos extremos,
                            desafiantes para
                            atender las necesidades de la maquinaria pesada: Radiadores <img
                                src="{% static 'img/main-logo.png' %}" class="img-fluid main-logo" width="80">
                            Son la solución de enfriamiento y transferencia de calor que las mantienen trabajando por
                            más
                            tiempo.
                            <p>
                                {% include 'partials/_search_bar.html' %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<br>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Card custom -->
<section id="card-custom" class="">
    <div class="container">
        <h3 class="page-title">Radiadores recientes</h3>
        <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card card-custom">
                    <div class="card-body">
                        <div class="card-custom-heading">
                            <h4 class="text-primary">{{ product.name|truncatewords:5 }}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item disabled" aria-disabled="true">Números de parte</li>
                                <li class="list-group-item text-secondary">
                                    Mesabi:
                                    <span class="">{{ product.default_code }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    OEM:
                                    <span class="">{{ product.x_studio_field_QlEui }}</span>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <a href="{% url 'single' product.default_code %}" class="btn btn-primary btn-block">Solicitar
                            cotización</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No se econtráron números de parte</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<section id="differences" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'img/differences/1.jpg' %}" class="img-fluid">
                <hr>
                <h3>Reparables en campo para minimizar el tiempo de inactividad</h3>
                <p>Los tubos de enfriamiento individuales se mantienen en cabezales con sellos de goma flexibles. Los
                    sellos flexibles permiten que los tubos que puedan sufrir daños se eliminen y reemplacen en el
                    campo, a menudo sin quitar el radiador.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/differences/2.jpg' %}" class="img-fluid">
                <hr>
                <h3>Sin juntas soldadas para mayor durabilidad</h3>
                <p>Los sellos de goma flexibles crean un radiador durable. Los sellos absorben la vibración, las
                    tensiones y el choque térmico que pueden causar que las juntas soldadas se agrieten.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/differences/3.jpg' %}" class="img-fluid">
                <hr>
                <h3>Diseño único para una vida más larga</h3>
                <p>Los tubos están diseñados para crear pasajes abiertos para que la suciedad y los residuos puedan
                    salir a través del núcleo, lo que garantiza una alta fiabilidad y larga vida útil con menores costos
                    operativos.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}