{% extends 'base.html' %}
{% block title %} | Búsqueda {% endblock %}
{% block content %}
<!-- Card custom-->
<section id="card-custom" class="">
    <div class="container container-custom">
        <h3 class="page-title">Resultados para: "{{ request.GET.keywords }}"</h3>

        <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-md-6 col-lg-4 mb-4">
                {% include 'products/partials/_card.html' %}
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No se encontró el producto, contáctanos seguro te podemos ayudar</p>
                <div class="row">
                    <div class="col-md-6">
                        {% include 'products/partials/form.html' %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}