{% extends 'base.html' %}

{% block content %}
<!-- Card custom-->
<section id="card-custom" class="">
    <div class="container">
        <h3 class="page-title">Resultados para: {{ request.GET.keywords }}</h3>

        <div class="row mt-4">
            {% if products %}
            {% for product in products %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card card-custom">
                    <div class="card-body">
                        <div class="card-custom-heading">
                            <h4 class="text-primary">{{ product.name|truncatewords:5 }}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item disabled" aria-disabled="true">Números de parte</li>
                                <li class="list-group-item text-secondary">
                                    Mesabi:
                                    <span class="">{{ product.default_code }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    OEM:
                                    <span class="">{{ product.x_studio_field_QlEui }}</span>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <a href="{% url 'single' product.default_code %}" class="btn btn-primary btn-block">Solicitar
                            cotización</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No se encontró el producto, contáctanos seguro te podemos ayudar</p>
                <div class="row">
                    <div class="col-md-6">
                        {% include 'products/partials/form/form.html' %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}