{% extends 'base.html' %}
{% load static %}
{% block title %} | {{ product.name }} {% endblock %}
{% block content %}
<div class="container container-custom">
  <h3 class="page-title">{{ product.name }}</h3>
  <!-- Fields -->
  <div class="row">
    <div class="col-md-7">
      {% include 'products/partials/_content1.html' %}
    </div>
    <div class="col-md-5">
      {% include 'products/partials/form/_products.html' %}
    </div>
    <div class="col-md-12 mt-4">
      {% include 'products/partials/_content2.html' %}
    </div>
  </div>
</div>
{% endblock %}