{% load static %}
<div class="embed-responsive embed-responsive-16by9">
    <video class="embed-responsive-item" autoplay muted loop>
        <source src="{% static 'img/products-video.mp4' %}" type="video/mp4">
        Tu navegador no soporta esta funcion.
    </video>
</div>
<div class="card card-custom">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <img class="d-block w-50" src="{% static 'img/main-logo-black.png' %}" alt="MESABI®">
                <h2 class="title">radiadores de motor</h2>
                <p class="subtitle">diseñados para maquinaria pesada</p>
                {% include 'products/partials/sliders/engine-radiator.html' %}
            </div>
            <div class="col-md-6">
                <p class="body">Con el paso de los años, nuestros radiadores de panel Mesabi® han demostrado ser una
                    solución de enfriamiento de motor altamente productiva y versátil. brindan un rendimiento
                    superior y larga vida.</p>
                <ul class="press-points">
                    <li>
                        <span>Radiadores completos</span>
                        <br>
                        Tanques, paneles y estructuras - diseñados para todos los fabricantes de maquinaria pesada
                        (OEM) con motor disel
                    </li>
                    <li>
                        <span>Intercambiadores de núcleo mesabi®</span>
                        <br>
                        Prácticamente todos los paneles convencionales
                    </li>
                    <li>
                        <span>Recubrimientos especiales</span>
                        <br>
                        Para agua salada y otros ambientes corrosivos
                    </li>
                    <li>
                        <span>Diseños personalizados</span>
                        <br>
                        Diseñados en base a los requerimientos del cliente
                    </li>
                </ul>
                <a class="btn-link" href="https://lym.com.mx" target="_blank">
                    Para más información visite lym.com.mx</a>
            </div>
        </div>
    </div>
</div>