{% load static %}
<div class="card card-custom">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <img class="d-block w-50" src="{% static 'img/main-logo-black.png' %}" alt="MESABI®">
                <h2 class="title">radiador mesabi boss®</h2>
                <p class="subtitle">diseñado para equipos que trabajan en ambientes corrosivos</p>
                {% include 'products/partials/sliders/boss-radiator.html' %}
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <p class="body">
                        El BOSS® (Brass Off Shore Service) está diseñado para equipos que trabajan en entornos
                        corrosivos. Dispone de aletas de latón soldadas a tubos de latón. Con marco de acero al carbón
                        para operar mar adentro (offshore); Estructura de acero inoxidable opcional.
                    </p>
                    <ul class="press-points">
                        <li>
                            <span>tubos de latón brasado, no se utiliza soldadura</span>
                        </li>
                        <li>
                            <span>marco de acero al carbón para operar mar adentro (offshore)</span>
                            <br>
                            (marcos de acero inoxidable opcionales)
                        </li>
                        <li>
                            <span>diseño personalizado a sus especificaciones</span>
                        </li>
                        <li>
                            <span>todas las características reparables en campo de los radiadores básicos mesabi</span>
                        </li>
                        <li>
                            <span>fácil de limpiar</span>
                        </li>
                    </ul>
                    <a class="pdf-link" href="" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        radiador boss®</a>
                </div>
            </div>

            <div class="devider"></div>

            <div class="col-md-6">
                <img class="d-block w-50" src="{% static 'img/main-logo-black.png' %}" alt="MESABI®">
                <h2 class="title">radiadores de núcleo de tubo en v®</h2>
                <p class="subtitle">diseñados para maquinaria pesada expuesta a suciedad y escombros excesivos</p>
                {% include 'products/partials/sliders/v-tube-radiator.html' %}
            </div>
            <div class="col-md-6">
                <div class="card thumbnail">
                    <img class="d-block w-100"
                        src="{% static 'img/sections/v-tube-radiator/images/nucleo-radiador.png' %}"
                        alt="Núcleo del Radiador">
                </div>
                <div class="col-md-12">
                    <p class="body">
                        Nuestro panel de tubo en V está diseñado para trabajos exigentes, donde los paneles pueden estar
                        expuestos a obstrucciones externas de suciedad y residuos. Los tubos están configurados para
                        crear pasajes. La aleta tiene forma de V para resistir la adherencia de otros material. Los
                        residuos demasiado grandes para los pasajes se eliminan fácilmente con agua o aire a alta
                        presión.
                    </p>
                    <ul class="press-points">
                        <li>
                            <span>Aletado en forma de v para reducir el taponamiento</span>
                        </li>
                        <li>
                            <span>Matiene el mismo deespeño de enfriamiento</span>
                            <br>
                        </li>
                        <li>
                            <span>Instalaciones disponibles para reemplazos de maquinaria pesada</span>
                        </li>
                    </ul>
                    <a class="pdf-link" href="" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        Radiadores de núcleo de
                        tubo-v mesabi®</a>
                </div>
            </div>

            <div class="devider"></div>

            <div class="col-md-6">
                <img class="d-block w-50" src="{% static 'img/main-logo-black.png' %}" alt="MESABI®">
                <h2 class="title">Paquetes completos de enfriamiento de motor</h2>
                <p class="subtitle">diseñados para un espectro amplio de componentes y sistemas completos de
                    enfriamiento de motor</p>
                {% include 'products/partials/sliders/complete-engine-cooling.html' %}
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <p class="body">
                        Desde lo simple hasta lo complejo, incluyendo unidades de potencia remotas con ventiladores y
                        accionamientos, nuestros paquetes completos de enfriamiento de motor están diseñados, ingeniados
                        y fabricados para un rendimiento óptimo.
                    </p>
                    <ul class="press-points">
                        <li>
                            <span>diseñado para proporcionar enfriamiento eficiente del motor en todas las condiciones
                                de trabajo más pesadas</span>
                        </li>
                        <li>
                            <span>diseñado con la "durabilidad mesabi"</span>
                            <br>
                        </li>
                        <li>
                            <span>seleccione modelos pre-diseñados o solicite una solución personalizada basada en sus
                                especificaciones</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>